<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vbill.middleware.shardingjdbc.demo.mapper.MerchantMapper">
    <resultMap id="ResultMapping" type="cn.vbill.middleware.shardingjdbc.demo.entity.Merchant">
        <result column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>


    <insert id="insert">
        insert into t_merchant (id,name) values (#{merchant.id},#{merchant.name})
    </insert>

    <select id="selectById" resultMap="ResultMapping">
        select <include refid="columnList"/> from t_merchant
        where id = #{id}
    </select>
    <select id="findList" resultMap="ResultMapping">
        select <include refid="columnList"/> from t_merchant
        <where>
            <if test="merchant.id != null and merchant.id != ''">
                and id =  #{merchant.id}
            </if>
        </where>
    </select>

    <sql id="columnList">
        id, name
    </sql>
</mapper>
